{% extends 'base.html' %}

{% block title %}{{ movie.title }}{% endblock %}

{% block content %}
<div class="movie-detail-container">
    <div class="movie-info_detail">
        <img class="movie-poster" src="{{ movie.poster_url }}" alt="{{ movie.title }}">
        <div class="movie-meta">
            <h1>{{ movie.title }}</h1>
            <p><strong>Жанр:</strong> 
            
            {% for genre in movie.genre.all %}
            {{ genre.genre }} {% if not forloop.last %}, {% endif %}
            {% endfor %}
                
            </p>
            <p><strong>Рейтинг:</strong> {{ movie.imdb_rating }}</p>
            <p><strong>Описание:</strong> {{ movie.overview }}</p>
        </div>
    </div>

    {% if movie.trailer_id %}
        <h3>Смотреть трейлер</h3>
        <iframe width="40% ", height="450"
        src="https://www.youtube.com/embed/{{ movie.trailer_id }}"
            frameborder="0"
            allowfullscreen>
        </iframe>
    {% endif %}
    {% if user.is_authenticated %}
        <form method="post" action="{% url 'users:add_to_wishlist' movie.id %}">
            {% csrf_token %}
            <input type='hidden' name='wishlist_type' value='home'>
            <button type="submit" class="button">Хочу посмотреть дома</button>
        </form>

            <form method="post" action="{% url 'users:add_to_wishlist' movie.id %}">
            {% csrf_token %}
            <input type='hidden' name='wishlist_type' value='cinema'>
            <button type="submit" class="button">Хочу посмотреть в кинотеатре</button>
        </form>
        <form method='post' action="{% url 'users:add_to_watched' movie.id %}">
            {% csrf_token %}
            <button type="submit" class="button">Отметить как просмотренный</button>
        </form>
        <div class="rating-buttons">
    <a href="{% url 'users:rate_movie' movie.id 'Нравится' %}" class="button">Нравится</a>
    <a href="{% url 'users:rate_movie' movie.id 'Не нравится' %}" class="button">Не нравится</a>
        </div>

    <form method="post" action="{% url 'users:buy_ticket' movie.id %}" class="ticket-form">
    {% csrf_token %}

    <div class="ticket-options">
        <select name="purchase_type" class="ticket-select">
            <option value="home">Посмотреть дома</option>
            <option value="cinema">Купить билет в кинотеатре</option>
        </select>

        <input type="number" name="quantity" value="1" min="1" class="ticket-quantity">
    </div>

    <button type="submit" class="ticket-button">Купить</button>
</form>


    
    {% else %}
    <p>
        <a href="{% url 'login' %}">Войдите</a>, чтобы добавить фильм в список
    </p>
    {% endif %}
    <hr>
    <h2>Похожие фильмы</h2>
    <hr>
    <div class="recommended-movies">
        {% for rec_movie in recommended_movies %}
            <div class="recommended-card">
                <a href="{% url 'movie_detail' rec_movie.id %}">
                    <img src="{{ rec_movie.poster_url }}" alt="{{ rec_movie.title }}">
                    <h2>{{ rec_movie.title }}</h2 >
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
