{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Онлайн-Кинотеатр</title>
    <link rel="stylesheet" href="{% static 'first/css/styles.css' %}">
</head>
<body>
    <!-- Навигационная панель -->
    <nav class="navbar">
        <div class="container">
            <h1>Онлайн-Кинотеатр</h1>
            <ul class="nav-links">
                <li><a href="/">Главная</a></li>
                <li><a href="#">О нас</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
        </div>
    </nav>

    <!-- Основной блок с фильмами -->
    <main class="container">
        <h2>Фильмы</h2>
        <div class="movie-list">
            {% for movie in movies %}
                <div class="movie-card">
                    <img src="{{ movie.poster_url }}" alt="{{ movie.title }}">
                    <div class="movie-info">
                        <h3>{{ movie.title }}</h3>
                        <p><strong>Жанр:</strong> {{ movie.genre }}</p>
                        <p><strong>Описание:</strong> {{ movie.overview|truncatechars:200 }}</p>
                        <p><strong>Рейтинг IMDb:</strong> {{ movie.imdb_rating }}</p>

                        
                        <div class="button-wrapper">
                        <a href="{% url 'movie_detail' movie.id %}" class="btn">Подробнее</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
</body>
</html>
