{% extends 'base.html' %}

{% block title %}{{ movie.title }}{% endblock %}

{% block content %}
<div class="movie-detail-container">
    <div class="movie-info_detail">
        <img class="movie-poster" src="{{ movie.poster_url }}" alt="{{ movie.title }}">
        <div class="movie-meta">
            <h1>{{ movie.title }}</h1>
            <p><strong>Жанр:</strong> {{ movie.genre }}</p>
            <p><strong>Рейтинг:</strong> {{ movie.imdb_rating }}</p>
            <p><strong>Описание:</strong> {{ movie.overview }}</p>
        </div>
    </div>

    {% if movie.trailer_id %}
        <h3>Смотреть трейлер</h3>
        <iframe width="40% ", height="450"
        src="https://www.youtube.com/embed/{{ movie.trailer_id }}"
            frameborder="0"
            allowfullscreen>
        </iframe>
    {% endif %}

    <hr>
    <h2>Рекомендуемые фильмы</h2>
    <hr>
    <div class="recommended-movies">
        {% for rec_movie in recommended_movies %}
            <div class="recommended-card">
                <a href="{% url 'movie_detail' rec_movie.id %}">
                    <img src="{{ rec_movie.poster_url }}" alt="{{ rec_movie.title }}">
                    <h2>{{ rec_movie.title }}</h2 >
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
