{% load static %}
<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Онлайн-кинотеатр{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'first/css/styles.css' %}">
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <h1>Онлайн-Кинотеатр</h1>
            <ul class="nav-links">
                
                {% for item in menu %}
                    <li><a href="{% url item.url_name %}"> {{ item.title }} </a></li>
                {% endfor %}
                
            </ul>
        </div>
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
