{% load static %}

<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Онлайн-кинотеатр{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'first/css/styles.css' %}">
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <h1>Онлайн-Кинотеатр</h1>
            <ul class="nav-links">

                {% for item in mainmenu %}
                    <li><a href="{% url item.url_name %}"> {{ item.title }} </a></li>
                {% endfor %}
                {% if user.is_authenticated %}
                <li class='last'><a href="{% url 'users:profile' %}">{{ user.username }} | <a href="{% url 'users:logout' %}">Выход</a></li>
                
                {% else %}
                <li class='last'><a href="{% url 'users:login' %}">Вход</a> | <a href='{% url "users:register" %}'>Регистрация</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
