{% extends "base.html" %}

{% block content %}
<h1>Личный кабинет</h1>

<div class="dashboard-menu">
    <ul>
        <li><a href="#">Настройки </a></li>
        <li><a href="{% url 'users:dashboard_wishlist' type='home' %}">Хочу смотреть дома</a></li>
        <li><a href="{% url 'users:dashboard_wishlist' type='cinema' %}">Хочу смотреть в кинотеатре</a></li>
        <li><a href="#">Просмотренные фильмы</a></li>
        <li><a href="#">Оцененные фильмы</a></li>
        <li><a href="#">История покупок</a></li>
    </ul>
</div>

{% block dashboard_content %}


{% endblock dashboard_content %}
{% endblock content %}